.container {
  width: 90%;
  margin: 20px auto;
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input,
.form select {
  background: #020617;
  color: #f8fafc;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #334155;
  font-size: 14px;
  transition: border 0.3s;
}

.form input:focus,
.form select:focus {
  border-color: #4f46e5;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
  width: 130px;
}

.form button[type="submit"] {
  background: black;
  color: white;
}

.form button[type="button"] {
  background: #e5e7eb;
  color: #111;
}
